#search-wrapper {
  width: 18vw;
  height: 100%;
}

#search-wrapper div,
#search-form {
  width: 100%;
  height: 100%;
}

#search-form input {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  padding: 1em;
}

#suggestions-wrapper {
  background-color: purple;
  z-index: 10;
}
