.bee-cards {
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-navlinks {
  width: 20%;
  padding: .5em;
}

.card-content {
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bee-pics {
  width: 30vh;
  height: 30vh;
  border-radius: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card-content h4 {
  margin: 2em 0 0 0;
}
