.bee-cards {
  /* margin: 1em 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-navlinks {
  /* width: 14%; */
  padding: .5em;
  margin: .5em;
}

.card-content {
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bee-pics {
  width: 100%;
  height: 25vh;
  border-radius: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em 3em;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; */
}

#bee-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.card-content h4 {
  margin: 2em 0 0 0;
}

@media screen and (max-width: 400px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}


/* Locales Bar */

#locale-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.locale-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.locale-btn:hover {
  box-shadow: none;
  color: black;
  text-decoration: underline 1px #717171;
  text-underline-offset: 1.3em;
}

.locale-btn.active {
  color: black;
  text-decoration: underline 2px black;
  text-underline-offset: 1.3em;
}

.locale-btn img {
  width: 25px;
  margin: 1em;
}

.locale-btn span {
  color: #717171;
  padding-bottom: 1em;
}

.locale-btn span:hover {
  color: black;
}

.hp-locale-wrapper {
  z-index: -1;
}
