main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60vw;
}

#pictures-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bee-pic {
  width: 50%;
  padding: 20px;
}

#small-pics-wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.small.bee-pic {
  height: 50%;
}

#all-pics-btn-wrapper {
  display: block;
  position: absolute;
  right: 22vw;
  bottom: 3em;
}

#all-pics-btn {
  height: 2.5em;
  width: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

#all-pics-btn img {
  height: 20px;
  width: 20px;
}

.lower {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.left-lower {
  width: 58.33%;
}

.right-lower {
  width: 33.33%;
  margin-left: 8.33%;
}

#lower-description {
  font-size: 32px;
  font-weight: 400;
}

.sidebar {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

#details {
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#edit-delete-bee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.delete-bee,
.edit-bee {
  background: linear-gradient(to right, #48024e 0%, #770386 50%, #5e0175b9 100%);
  color: white;
  width: 120px;
  height: 40px;
}

.delete-bee:hover,
.edit-bee:hover {
  transition: all ease-in 3s;
  background: linear-gradient(to right, #48024e 0%, #720240 50%, #5e0175b9 100%);
}
