main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60vw;
}

#pictures-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bee-pic {
  width: 100%;
  max-height: 50vh;
  padding: 20px;
}

#big-pic-wrapper img {
  border-radius: 7% 0 0 7%;
}

#big-pic-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#small-pics-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#pics-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#pics-grid div.grid {
  width: 15vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small.bee-pic {
  max-width: 95%;
  max-height: 95%;
}

#pics-grid div:nth-child(2) img {
  border-radius: 0 10% 0 0;
}

#pics-grid div:nth-child(4) img {
  border-radius: 0 0 10% 0;
}

#all-pics-btn-wrapper {
  display: block;
  position: relative;
  right: 24px;
  bottom: 24px;
  width: 100%;
}
#all-pics-btn-wrapper-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 3;
}

#all-pics-btn {
  height: 2.5em;
  width: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

#all-pics-btn img {
  height: 20px;
  width: 20px;
}

.lower {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.left-lower {
  width: 58.33%;
}

.right-lower {
  width: 33.33%;
  margin-left: 8.33%;
}

#lower-description {
  font-size: 32px;
  font-weight: 400;
}

.sidebar {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

#details {
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#edit-delete-bee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.delete-bee,
.edit-bee {
  background: linear-gradient(to right, #48024e 0%, #770386 50%, #5e0175b9 100%);
  color: white;
  width: 120px;
  height: 40px;
}

.delete-bee:hover,
.edit-bee:hover {
  transition: all ease-in 3s;
  background: linear-gradient(to right, #48024e 0%, #720240 50%, #5e0175b9 100%);
}

/* Show all photos */

#all-pics-wrapper {
  width: 65vw;
}

.no-add-pics.wrapper,
.add-pics.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.no-add-pics.wrapper img {
  width: 100%;
  margin: 1em;
}

.add-pics.wrapper img {
  width: 45%;
  margin: 1em;
}

.back-btn-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.back-btn-wrapper img {
  width: 23px;
  margin: 0 1em 0 0;
}

.back-btn-wrapper button {
  display: flex;
  align-items: center;
}
