.form-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 28vw;
  border: #48024e 1px solid;
  border-radius: 20px;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-bee-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 3em auto auto auto;
}

.sidebar-img {
  height: 60vh;
  width: fit-content;
  max-width: 60vw;
}

#new-bee-submit {
  background: linear-gradient(to right, #48024e 0%, #770386 50%, #5e0175b9 100%);
  color: white;
  width: 100%;
  height: 40px;
  margin: 1em .3em 2em .3em;
}

#edit-bee-submit {
  background: linear-gradient(to right, #48024e 0%, #770386 50%, #5e0175b9 100%);
  color: white;
  width: 60%;
  height: 40px;
  margin: 1em .3em 2em .3em;
}

#new-bee-submit:hover,
#edit-bee-submit:hover {
  transition: all ease-in 3s;
  background: linear-gradient(to right, #48024e 0%, #720240 50%, #5e0175b9 100%);
}

.forms {
  width: 100%;
  padding: 2em;
}

.forms input {
  width: 100%;
  height: 3em;
}

.edit-bee-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.edit-form-container {
  margin: 0 1em;
}

#edit-sidebar-img {
  width: fit-content;
  max-height: 60vh;
  margin: 0 1em;
}

#edit-bee-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

#edit-bee-form input {
  width: 100%;
}

.img-details {
  font-size: 12px;
}

#new-bee-form .upload-file {
  height: 1.9em;
}

.img-label-wrapper {
  display: flex;
  align-items: center;
}
