* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6em;
}

#right-side {
  margin-right: 6em;
}

#right-side,
#sign-up,
#demo-user {
  font-size: 14px;
  font-weight: 600;
}

a:hover {
  transition: all ease-in .01s;
  background-color: rgba(228, 232, 238, 0.842);
  border-radius: 21px;
}

a,
button,
.links {
  padding: 1em;
  margin: 1em;
}

button {
  border: 1px solid rgba(228, 228, 228, 0.651);
  border-radius: 21px;
  background-color: white;
}

#logo {
  width: 5vh;
  margin: 1em;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(228, 228, 228, 0.651);
  box-shadow: 0 0 10px rgba(228, 232, 238, 0.842);
  position: fixed;
  width: 20vh;
  background-color: white;
}

#log-out {
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
}

#log-out:hover {
  transition: none;
}

.profile-dropdown > p {
  width: 100%;
  text-align: center;
}

.profile-dropdown > p:hover {
  background-color: rgba(228, 232, 238, 0.842);
}
