* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 6em;
  border-bottom: 1px solid rgba(228, 228, 228, 0.651);;
}

#left-side,
#right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#right-side,
#sign-up,
#demo-user {
  font-size: 14px;
  font-weight: 600;
}

a:hover {
  transition: all ease-in .01s;
  background-color: rgba(228, 232, 238, 0.842);
  border-radius: 21px;
}

#right-side > button {
  padding: .3em;
  border-radius: 21px;
  margin: 1em;
}

.links {
  padding: 1em;
  margin: 1em;
}

button:hover {
  box-shadow: 2px 4px 5px rgba(228, 232, 238, 0.842);
}

button {
  border: 1px solid rgba(228, 228, 228, 0.651);
  border-radius: 21px;
  background-color: white;
  /* color: #551A8B; */
  font-weight: 600;
}

p {
  /* color: #551A8B; */
}

#logo {
  width: 5vh;
  margin: 1em;
}

#logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 .5em;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(228, 228, 228, 0.651);
  box-shadow: 0 0 10px rgba(228, 232, 238, 0.842);
  position: fixed;
  width: 20vh;
  background-color: white;
  margin-top: 45px;
}

.profile-dropdown p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#log-out,
#navbar-bookings {
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#log-out:hover,
#navbar-bookings:hover {
  transition: none;
  box-shadow: none;
}

.profile-dropdown p {
  width: 100%;
  text-align: center;
  height: 5vh;
}

.profile-dropdown p:hover {
  background-color: rgba(228, 232, 238, 0.842);
}

#about-button {
  background: linear-gradient(to right, #48024e 0%, #770386 50%, #5e0175b9 100%);
  color: white;
  width: 80px;
  height: 30px;
  margin-left: 1em;
}

.anchor-images {
  width: 30px;
}

#name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  font-size: 24px;
}

.about-container p {
  margin: .3em 1em;
}

#about-links {
  margin: .3em 0;
}

.about-container {
  padding: 1em;
}

.avatars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
